anyio==3.5.0
asgiref==3.5.0
black==22.1.0
click==8.0.3
dnspython==2.2.0
dnstwist==20220131
email-validator==1.1.3
fastapi==0.73.0
GeoIP==1.3.2
h11==0.13.0
idna==3.3
motor==2.5.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.0
ppdeep==20200505
pycodestyle==2.8.0
pydantic==1.9.0
pymongo==3.12.3
python-decouple==3.6
sniffio==1.2.0
starlette==0.17.1
tld==0.12.6
toml==0.10.2
tomli==2.0.1
typing-extensions==4.1.1
uvicorn==0.17.5
whois==0.9.13
yapf==0.32.0
